<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.java.project.member.MemberVO" alias="MemberVO"></typeAlias>
        <typeAlias type="com.java.project.board.BoardVO" alias="BoardVO"></typeAlias>
        <typeAlias type="com.java.project.board.CategoryVO" alias="CategoryVO"></typeAlias>
        <typeAlias type="com.java.project.reply.ReplyVO" alias="ReplyVO"></typeAlias>
        <typeAlias type="com.java.project.util.Pager" alias="Pager"></typeAlias>
    </typeAliases>
</configuration>