<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.project.member.MemberMapper">

    <insert id="setAdd" parameterType="MemberVO">
        INSERT INTO tMember (sId, sPassword, sSalt, sName, sEmail, sPhone, dtRegDate)
        VALUES (#{id}, #{password}, #{salt}, #{name}, #{email}, #{phone}, NOW())
    </insert>

</mapper>