<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.project.member.MemberMapper">

    <insert id="setAdd" parameterType="MemberVO">
        INSERT INTO
            tMember
            (sId, sPassword, sSalt, sName, sEmail, sPhone, dtRegDate)
        VALUES
            (#{id}, #{password}, #{salt}, #{name}, #{email}, #{phone}, NOW())
    </insert>

    <select id="getMember" parameterType="MemberVO" resultType="MemberVO">
        SELECT
            sId as id
        FROM
            tMember
        WHERE
            sId = #{id}
            AND sPassword = #{password}
            AND nDelete = 0
    </select>

    <select id="getMyInfo" parameterType="MemberVO" resultType="MemberVO">
        SELECT
            sId as id,
            sSalt as salt,
            sName as name,
            sEmail as email,
            sPhone as phone
        FROM
            tMember
        WHERE
            sId = #{id}
    </select>

    <select id="checkMember" parameterType="MemberVO" resultType="int">
        SELECT
            COUNT(sId)
        FROM
            tMember
        WHERE
            <choose>
                <when test="id != null">
                    sId = #{id}
                </when>
                <when test="email != null">
                    sEmail = #{email}
                </when>
            </choose>
    </select>

    <update id="setUpdate" parameterType="MemberVO">
        UPDATE
            tMember
        <set>
            <if test="delete != null">
                nDelete = #{delete},
                sPassword = null,
                sSalt = null,
            </if>
            sName = #{name},
            sEmail = #{email},
            sPhone = #{phone}
        </set>
        WHERE
            sId = #{id}
    </update>

</mapper>